{% extends 'base.html.twig' %}

{% block title %}Phone Call index{% endblock %}

{% block body %}
  <div class=" text-center">
    <h1>Phone Calls</h1>
  </div>

{% if app.user.department == 'Customer service' %}
  <a href="{{ path('app_phone_call_new') }}">New call</a>
{% else %}
  <!-- <span title="New call - Not allowed"> -->
    <!-- <a href="{{ path('app_phone_call_new') }}" title="New call - Not allowed" class="disabled" onclick="return alert('Not allowed');">New call</a> -->
    <a href="javascript:void(0)" title="New call - Not allowed" onclick="return alert('Not allowed');">New call</a>
  <!-- </span> -->
{% endif %}

  <table id="phonecalls" class="table table-hover">
    <thead>
      <tr>
        <th>
          Id<br>
          <input type="text" id="phonecalls0" placeholder="Filter By Id" style="width: 0; visibility: hidden;"><br>
        </th>
        <th>
          Employee<br>
          <input type="text" id="phonecalls1" placeholder="Filter By Employee" style="width: 0; visibility: hidden;">
        </th>
        <th>
          Client<br>
          <input type="text" id="phonecalls2" placeholder="Filter By Client">
        </th>
        <th>
          Company<br>
          <input type="text" id="phonecalls3" placeholder="Filter By Company" style="width: 0; visibility: hidden;">
        </th>
        <th>
          Phone<br>
          <input type="text" id="phonecalls4" placeholder="Filter By Phone" style="width: 0; visibility: hidden;">
        </th>
        <th>
          State<br>
          <input type="text" id="phonecalls5" placeholder="Filter By State" style="width: 0; visibility: hidden;">
        </th>
        <th>
          Description<br>
          <input type="text" id="phonecalls6" placeholder="Filter By Description">
        </th>
        {# <th>CreatedAt<br>&nbsp;</th>
        <th>ModifiedAt<br>&nbsp;</th>
        <th>DeletedAt<br>&nbsp;</th>
        <th>ReactivatedAt<br>&nbsp;</th> #}
        <th>Actions<br>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    {% for phone_call in phone_calls %}

      {% if phone_call.state == 'pending' %}
        {% set row_state = 'primary' %}
      {% elseif phone_call.state == 'in progress' %}
        {% set row_state = 'warning' %}
      {% else %}
        {% set row_state = 'success' %}
      {% endif %}

      {% if phone_call.deleted_at != NULL %}
        {% set row_state = 'danger' %}
      {% endif %}
      <tr class="table-{{ row_state }}">
        <td>{{ phone_call.id }}</td>
        <td>{{ phone_call.user }}</td>
        <td>{{ phone_call.client }}</td>
        <td>{{ phone_call.company }}</td>
        <td>{{ phone_call.phone }}</td>
        <td>{{ phone_call.state }}</td>
        <td>{{ phone_call.description }}</td>
{#      <td>{{ phone_call.createdAt ? phone_call.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        <td>{{ phone_call.modifiedAt ? phone_call.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
        <td>{{ phone_call.deletedAt ? phone_call.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
        <td>{{ phone_call.reactivatedAt ? phone_call.reactivatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
        <td>
          <!-- <a href="{{ path('app_phone_call_show', {'id': phone_call.id}) }}">show</a> -->
          <div class="div-actions">
            <a href="{{ path('app_phone_call_show', {'id': phone_call.id}) }}" title="Show call">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="cornflowerblue" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg>
            </a>
            <!-- <a href="{{ path('app_phone_call_edit', {'id': phone_call.id}) }}">edit</a> -->
          {% if app.user.department == phone_call.department and
          (app.user.role == 'Boss' or app.user.role == 'Team leader') %}
            <a href="{{ path('app_phone_call_edit', {'id': phone_call.id}) }}" title="Edit call">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="cornflowerblue" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </a>
          {% else %}
            <!-- <span title="Edit call - Not allowed"> -->
              <!-- <a href="{{ path('app_phone_call_edit', {'id': phone_call.id}) }}" title="Edit call - Not allowed" class="link-btn-disabled disabled"> -->
              <a href="javascript:void(0)" title="Edit call - Not allowed" onclick="return alert('Not allowed');">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </a>
            <!-- </span> -->
          {% endif %}
          {% if phone_call.deleted_at == NULL %}
            {{ include('phone_call/_delete_form.html.twig') }}
          {% else %}
            {{ include('phone_call/_activate_form.html.twig') }}
          {% endif %}
          </div>
        </td>
      </tr>
    {% else %}
      <tr>
          <td colspan="7">no records found</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% if app.user.department == 'Customer service' %}
  <a href="{{ path('app_phone_call_new') }}">New call</a>
{% else %}
  <!-- <span title="New call - Not allowed"> -->
    <!-- <a href="{{ path('app_phone_call_new') }}" title="New call - Not allowed" class="disabled" onclick="return alert('Not allowed');">New call</a> -->
    <a href="javascript:void(0)" title="New call - Not allowed" onclick="return alert('Not allowed');">New call</a>
  <!-- </span> -->
{% endif %}
{% endblock %}

{% block js %}
  <script src="{{ asset('./asset/js/TableFilter.min.js') }}" defer></script>
{% endblock %}
