{% extends 'base.html.twig' %}

{% block title %}PhoneCall{% endblock %}

{% block body %}
  <div class=" text-center">
    <h1>PhoneCall</h1>
  </div>

  <table class="table">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ phone_call.id }}</td>
      </tr>
      <tr>
        <th>User</th>
        <td>{{ phone_call.user }}</td>
      </tr>
      <tr>
        <th>Client</th>
        <td>{{ phone_call.client }}</td>
      </tr>
      <tr>
        <th>Company</th>
        <td>{{ phone_call.company }}</td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>{{ phone_call.phone }}</td>
      </tr>
      <tr>
        <th>Department</th>
        <td>{{ phone_call.department }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ phone_call.description }}</td>
      </tr>
      <tr>
        <th>Created at</th>
        <td>{{ phone_call.created_at ? phone_call.created_at|date('Y-m-d H:i:s') : '' }}</td>
      </tr>
      <tr>
        <th>Modified at</th>
        <td>{{ phone_call.modified_at ? phone_call.modified_at|date('Y-m-d H:i:s') : '' }}</td>
      </tr>
      <tr>
        <th>Deleted at</th>
        <td>{{ phone_call.deleted_at ? phone_call.deleted_at|date('Y-m-d H:i:s') : '' }}</td>
      </tr>
      <tr>
        <th>Reactivated at</th>
        <td>{{ phone_call.reactivated_at ? phone_call.reactivated_at|date('Y-m-d H:i:s') : '' }}</td>
      </tr>
      <tr>
        <th>State</th>
        <td>{{ phone_call.state }}</td>
      </tr>
      <tr>
        <th>Actions</th>
        <td>
          <div class="div-actions">
            <!-- <a href="{{ path('app_phone_call_index') }}">back to list</a> -->
            <a href="{{ path('app_phone_call_index') }}" title="Back to calls list">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="cornflowerblue" class="bi bi-list-ol" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
                <path d="M1.713 11.865v-.474H2c.217 0 .363-.137.363-.317 0-.185-.158-.31-.361-.31-.223 0-.367.152-.373.31h-.59c.016-.467.373-.787.986-.787.588-.002.954.291.957.703a.595.595 0 0 1-.492.594v.033a.615.615 0 0 1 .569.631c.003.533-.502.8-1.051.8-.656 0-1-.37-1.008-.794h.582c.008.178.186.306.422.309.254 0 .424-.145.422-.35-.002-.195-.155-.348-.414-.348h-.3zm-.004-4.699h-.604v-.035c0-.408.295-.844.958-.844.583 0 .96.326.96.756 0 .389-.257.617-.476.848l-.537.572v.03h1.054V9H1.143v-.395l.957-.99c.138-.142.293-.304.293-.508 0-.18-.147-.32-.342-.32a.33.33 0 0 0-.342.338v.041zM2.564 5h-.635V2.924h-.031l-.598.42v-.567l.629-.443h.635V5z"/>
              </svg>
            </a>
            {% if app.user.department == phone_call.department and
              (app.user.role == 'Boss' or app.user.role == 'Team leader') %}
            <!-- <a href="{{ path('app_phone_call_edit', {'id': phone_call.id}) }}">edit</a> -->
            <a href="{{ path('app_phone_call_edit', {'id': phone_call.id}) }}" title="Edit call">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="cornflowerblue" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </a>
            {% else %}
            <!-- <span title="Edit call - Not allowed"> -->
              <!-- <a href="{{ path('app_phone_call_edit', {'id': phone_call.id}) }}" title="Edit call - Not allowed" class="link-btn-disabled disabled"> -->
              <a href="javascript:void(0)" title="Edit call - Not allowed" onclick="return alert('Not allowed');">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </a>
            <!-- </span> -->
            {% endif %}

            {{ include('phone_call/_delete_form.html.twig') }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

{% endblock %}
